In [8]:
#!pip install matplotlib
#!pip install seaborn

In [9]:
import numpy  as np
import pandas as pd 

import matplotlib.dates as mdates
import seaborn as sns 

import warnings
warnings.filterwarnings("ignore")
from numpy import dot
from numpy.linalg import norm

In [10]:
path         = '../data/'
data         = 'compras.csv'
df_compras   = pd.read_csv(path + data, encoding="utf-8", dtype=str)

In [11]:
df_compras.head()

,data_publicacao,processo,valor_estimado,href_itens
0,2019-02-04T00:00:00,23067.066479/201,150000.0,/compraSemLicitacao/id/item_slicitacao/1530450...
1,2019-02-07T00:00:00,44103/2018-40,7839110.0,/compraSemLicitacao/id/item_slicitacao/1530450...
2,2019-02-22T00:00:00,048813/2018-49,756804.0,/compraSemLicitacao/id/item_slicitacao/1530450...
3,2019-02-25T00:00:00,23167/2017-26,384000.0,/compraSemLicitacao/id/item_slicitacao/1530450...
4,2019-03-06T00:00:00,69400/2018-06,576000.0,/compraSemLicitacao/id/item_slicitacao/1530450...

In [13]:
 df_compras.href_itens = df_compras.href_itens.astype(str)

In [18]:
def compra(txt):
    return (txt.split('/')[4])

In [19]:
df_compras['compra']  =  df_compras['href_itens'].apply(lambda x: compra((x)))

In [20]:
df_compras.head()

,data_publicacao,processo,valor_estimado,href_itens,compra
0,2019-02-04T00:00:00,23067.066479/201,150000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304507000012019
1,2019-02-07T00:00:00,44103/2018-40,7839110.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000032019
2,2019-02-22T00:00:00,048813/2018-49,756804.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000072019
3,2019-02-25T00:00:00,23167/2017-26,384000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000082019
4,2019-03-06T00:00:00,69400/2018-06,576000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000102019

In [ ]:
df_compras = df_compras[['']]