In [2]:
#!pip install matplotlib
#!pip install seaborn

In [24]:
import locale

In [3]:
import numpy  as np
import pandas as pd 

import matplotlib.dates as mdates
import seaborn as sns 

import warnings
warnings.filterwarnings("ignore")
from numpy import dot
from numpy.linalg import norm

In [4]:
path         = '../data/'
data         = 'compras.csv'
df_compras   = pd.read_csv(path + data, encoding="utf-8", dtype=str)

In [5]:
df_compras.head()

,data_publicacao,processo,valor_estimado,href_itens
0,2019-02-04T00:00:00,23067.066479/201,150000.0,/compraSemLicitacao/id/item_slicitacao/1530450...
1,2019-02-07T00:00:00,44103/2018-40,7839110.0,/compraSemLicitacao/id/item_slicitacao/1530450...
2,2019-02-22T00:00:00,048813/2018-49,756804.0,/compraSemLicitacao/id/item_slicitacao/1530450...
3,2019-02-25T00:00:00,23167/2017-26,384000.0,/compraSemLicitacao/id/item_slicitacao/1530450...
4,2019-03-06T00:00:00,69400/2018-06,576000.0,/compraSemLicitacao/id/item_slicitacao/1530450...

In [6]:
df_compras.href_itens = df_compras.href_itens.astype(str)

In [19]:
df_compras["valor_estimado"] = pd.to_numeric(df_compras["valor_estimado"])

In [7]:
def compra(txt):
    return (txt.split('/')[4])

In [8]:
df_compras['compra']  =  df_compras['href_itens'].apply(lambda x: compra((x)))

In [9]:
df_compras.head()

,data_publicacao,processo,valor_estimado,href_itens,compra
0,2019-02-04T00:00:00,23067.066479/201,150000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304507000012019
1,2019-02-07T00:00:00,44103/2018-40,7839110.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000032019
2,2019-02-22T00:00:00,048813/2018-49,756804.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000072019
3,2019-02-25T00:00:00,23167/2017-26,384000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000082019
4,2019-03-06T00:00:00,69400/2018-06,576000.0,/compraSemLicitacao/id/item_slicitacao/1530450...,15304506000102019

In [10]:
df_compras = df_compras[['compra', 'processo', 'data_publicacao', 'href_itens', 'valor_estimado']]

In [11]:
df_compras.head()

,compra,processo,data_publicacao,href_itens,valor_estimado
0,15304507000012019,23067.066479/201,2019-02-04T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,150000.0
1,15304506000032019,44103/2018-40,2019-02-07T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,7839110.0
2,15304506000072019,048813/2018-49,2019-02-22T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,756804.0
3,15304506000082019,23167/2017-26,2019-02-25T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,384000.0
4,15304506000102019,69400/2018-06,2019-03-06T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,576000.0

In [11]:
data = 'dfcompras.csv'
df_compras.to_csv(path + data, index = None)

In [26]:
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [12]:
len(df_compras)

46

In [29]:
valor = locale.currency(df_compras.valor_estimado.min() , grouping=True, symbol=None)
print(valor)

267,00

In [28]:
valor = locale.currency(df_compras.valor_estimado.max() , grouping=True, symbol=None)
print(valor)

30.234.118,00

In [27]:
valor = locale.currency(df_compras.valor_estimado.mean() , grouping=True, symbol=None)
print(valor)

2.248.164,93

In [30]:
path         = '../data/'
data         = 'itens.csv'
df_itens     = pd.read_csv(path + data, encoding="utf-8", dtype=str)

In [31]:
df_itens.head()

,co_servico,co_conjunto_materiais,no_servico,no_conjunto_materiais,ds_detalhada,qt_material_alt,no_unidade_medida,vr_estimado,no_marca_material,ds_tipo_fornecedor_vencedor,nu_cpf_vencedor,nu_cnpj_vencedor,fornecedor,_links
0,NaN,150721,NaN,NaN,NaN,1,UNIDADE,150000.0,SM,PF,NaN,NaN,ESTRANGEIRO,{'self': {'href': '/compraSemLicitacao/id/item...
1,4120,NaN,ENERGIA ELETRICA - FORNECIMENTO MERCADO REGULADO,NaN,Fornecimento de Energia Elétrica em 69.000 Vol...,1,unidade,7839110.47,NaN,PJ,NaN,07047251000170,NaN,{'self': {'href': '/compraSemLicitacao/id/item...
2,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,Gerenciamento administrativo e financeiro do P...,1,unidade,756804.16,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...
3,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,"Gestão administrativa e financeira, de recurso...",1,unidade,384000.0,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...
4,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,Obter o apoio da CONTRATADA para captar e rece...,1,unidade,576000.0,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...

In [32]:
df_itens.columns

Index(['co_servico', 'co_conjunto_materiais', 'no_servico',
       'no_conjunto_materiais', 'ds_detalhada', 'qt_material_alt',
       'no_unidade_medida', 'vr_estimado', 'no_marca_material',
       'ds_tipo_fornecedor_vencedor', 'nu_cpf_vencedor', 'nu_cnpj_vencedor',
       'fornecedor', '_links'],
      dtype='object')

In [39]:
lista_fornecedor_pjuridica = df_itens['nu_cnpj_vencedor'].value_counts()
lista_fornecedor_pfisica   = df_itens['nu_cpf_vencedor'].value_counts()

In [38]:
lista_fornecedor_pjuridica

08918421000108    57
05330436000162    21
31302808000157    15
10498974000109    12
13859951000162     9
90347840001190     6
35963479000146     6
42595652000166     6
07047251000170     6
07955535000165     6
01921606000122     6
07797967000195     6
23674714000180     6
23436077000104     6
07885170000140     3
06787479000134     3
31668444000123     3
09675367000180     3
11615516000167     3
20061633000117     3
Name: nu_cnpj_vencedor, dtype: int64

In [40]:
lista_fornecedor_pfisica

Series([], Name: nu_cpf_vencedor, dtype: int64)

In [41]:
def compra(txt):
    return (txt.split('/')[4])

In [43]:
df_itens['compra']  =  df_itens['_links'].apply(lambda x: compra((x)))

In [44]:
df_itens.head()

,co_servico,co_conjunto_materiais,no_servico,no_conjunto_materiais,ds_detalhada,qt_material_alt,no_unidade_medida,vr_estimado,no_marca_material,ds_tipo_fornecedor_vencedor,nu_cpf_vencedor,nu_cnpj_vencedor,fornecedor,_links,compra
0,NaN,150721,NaN,NaN,NaN,1,UNIDADE,150000.0,SM,PF,NaN,NaN,ESTRANGEIRO,{'self': {'href': '/compraSemLicitacao/id/item...,15304507000012019
1,4120,NaN,ENERGIA ELETRICA - FORNECIMENTO MERCADO REGULADO,NaN,Fornecimento de Energia Elétrica em 69.000 Vol...,1,unidade,7839110.47,NaN,PJ,NaN,07047251000170,NaN,{'self': {'href': '/compraSemLicitacao/id/item...,15304506000032019
2,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,Gerenciamento administrativo e financeiro do P...,1,unidade,756804.16,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...,15304506000072019
3,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,"Gestão administrativa e financeira, de recurso...",1,unidade,384000.0,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...,15304506000082019
4,5380,NaN,PRESTACAO DE SERVICOS DE APOIO ADMINISTRATIVO,NaN,Obter o apoio da CONTRATADA para captar e rece...,1,unidade,576000.0,NaN,PJ,NaN,08918421000108,NaN,{'self': {'href': '/compraSemLicitacao/id/item...,15304506000102019

In [45]:
qtde_itens_compras = df_itens['compra'].value_counts()

In [62]:
qtde_itens_compras

15304507000052019    6
15304507000022019    6
15304506000202019    6
15304506000082019    6
15304507000102019    6
15304506000102019    6
15304506000182019    6
15304506000032019    6
15304506000142019    6
15304506000072019    6
15304507000042019    6
15304507000082019    6
15304506000172019    6
15304506000162019    6
15304507000112019    6
15304506000192019    6
15304507000072019    6
15304507000012019    6
15304507000032019    6
15304507000062019    6
15304507000092019    6
15304506000112019    6
15304507000332019    3
15304506000412019    3
15304506000462019    3
15304507000342019    3
15304506000402019    3
15304506000382019    3
15304506000232019    3
15304506000452019    3
15304506000252019    3
15304506000302019    3
15304506000312019    3
15304507000132019    3
15304506000242019    3
15304506000282019    3
15304507000352019    3
15304507000142019    3
15304506000292019    3
15304506000372019    3
15304507000162019    3
15304506000442019    3
15304506000432019    3
15304506000272019    3
Name: compra, dtype: int64

In [47]:
len(qtde_itens_compras)

44

In [48]:
len(df_compras)

46

In [51]:
qtde_itens_compras.index[0]

'15304507000052019'

In [59]:
qtde_itens_compras.get(key = '15304507000052019')

6

In [52]:
df_compras.head()

,compra,processo,data_publicacao,href_itens,valor_estimado
0,15304507000012019,23067.066479/201,2019-02-04T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,150000.0
1,15304506000032019,44103/2018-40,2019-02-07T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,7839110.0
2,15304506000072019,048813/2018-49,2019-02-22T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,756804.0
3,15304506000082019,23167/2017-26,2019-02-25T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,384000.0
4,15304506000102019,69400/2018-06,2019-03-06T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,576000.0

In [61]:
for index, row in df_compras.iterrows():
    print(row['compra'], qtde_itens_compras.get(key = row['compra']) )

15304507000012019 6
15304506000032019 6
15304506000072019 6
15304506000082019 6
15304506000102019 6
15304507000022019 6
15304506000112019 6
15304506000142019 6
15304507000032019 6
15304507000042019 6
15304506000162019 6
15304507000052019 6
15304507000062019 6
15304507000072019 6
15304507000082019 6
15304506000172019 6
15304507000092019 6
15304507000102019 6
15304506000182019 6
15304506000192019 6
15304506000202019 6
15304507000112019 6
15304506000222019 None
15304507000122019 None
15304507000132019 3
15304506000232019 3
15304506000242019 3
15304506000252019 3
15304507000142019 3
15304506000272019 3
15304506000282019 3
15304506000292019 3
15304506000302019 3
15304506000312019 3
15304507000162019 3
15304506000372019 3
15304507000332019 3
15304507000342019 3
15304507000352019 3
15304506000382019 3
15304506000402019 3
15304506000412019 3
15304506000432019 3
15304506000442019 3
15304506000452019 3
15304506000462019 3

In [ ]:
df_itens