In [3]:
import pandas as pd

In [83]:
path         = '../data/text/'
data         = 'text.csv'
df           = pd.read_csv(path + data, encoding="utf-8", dtype=str)

In [84]:
df.head()

                                            Conteúdo
0  ATENÇÃO! Nesta quarta-feira 08/04, acaba de se...
1  No Brasil, já foram registrados alguns casos d...
2  Bom dia, Suzano! Grande novidade: hoje, dia 9 ...
3  APENAS DURANTE O MÊS DE JANEIRO DE 2020: o gen...
4  Gente, nossas equipes que estão atuando nas ba...

In [85]:
df.tail()

                                                Conteúdo
17462  Nem sempre a suspeita se confirma em São Paulo...
17463  De acordo com as primeiras informações, a víti...
17464  Aquilino Cal Cal... A parte do  não ter cura  ...
17465  : A especialista em virologia Maria João Amori...
17466  Antonio Alves Campos Alves Fora BOLSOASNO você...

In [15]:
def upper(txt):
    return txt.upper()

In [16]:
df['Conteúdo'] = df['Conteúdo'].astype(str)

In [17]:
df['CONTEUDO'] =  df['Conteúdo'].apply(lambda x: upper((x)))

In [18]:
df = df[['CONTEUDO']]

In [19]:
df.head()

                                            CONTEUDO
0  ATENÇÃO! NESTA QUARTA-FEIRA 08/04, ACABA DE SE...
1  NO BRASIL, JÁ FORAM REGISTRADOS ALGUNS CASOS D...
2  BOM DIA, SUZANO! GRANDE NOVIDADE: HOJE, DIA 9 ...
3  APENAS DURANTE O MÊS DE JANEIRO DE 2020: O GEN...
4  GENTE, NOSSAS EQUIPES QUE ESTÃO ATUANDO NAS BA...

In [21]:
import string

print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [34]:
desc = 'ATENÇÃO! NESTA QUARTA-FEIRA 08/04, ACABA DE ACONTECER O EVENTO; NÃO PERCA, OK ?'

In [37]:
desc.translate(str.maketrans('', '', string.punctuation))

'ATENÇÃO NESTA QUARTAFEIRA 0804 ACABA DE ACONTECER O EVENTO NÃO PERCA OK '

In [38]:
def remove_punct(txt):
    return txt.translate(str.maketrans('', '', string.punctuation))

In [39]:
remove_punct(desc)

'ATENÇÃO NESTA QUARTAFEIRA 0804 ACABA DE ACONTECER O EVENTO NÃO PERCA OK '

In [41]:
df['CONTEUDO'] =  df['CONTEUDO'].apply(lambda x: remove_punct((x)))

In [43]:
df.head()

                                            CONTEUDO
0  ATENÇÃO NESTA QUARTAFEIRA 0804 ACABA DE SER CO...
1  NO BRASIL JÁ FORAM REGISTRADOS ALGUNS CASOS DE...
2  BOM DIA SUZANO GRANDE NOVIDADE HOJE DIA 9 DE A...
3  APENAS DURANTE O MÊS DE JANEIRO DE 2020 O GENE...
4  GENTE NOSSAS EQUIPES QUE ESTÃO ATUANDO NAS BAR...

In [45]:
df.to_csv(path + 'text_cl.csv', index=None)

In [57]:
import sys
import unicodedata

In [78]:
#!pip install unidecode

In [64]:
import unidecode

In [76]:
def remove_ac(txt):
    return unicodedata.normalize('NFKD', txt).encode('ASCII', 'ignore').decode("utf-8")

In [79]:
remove_ac('ATENÇÃO ELE NÃO ESTÁ AQUI HOJE, ELE VEIO E NÃO SABE COMO VER O IPÊ E A ROMÃ')

'ATENCAO ELE NAO ESTA AQUI HOJE, ELE VEIO E NAO SABE COMO VER O IPE E A ROMA'

In [80]:
df['CONTEUDO'] =  df['CONTEUDO'].apply(lambda x: remove_ac((x)))

In [81]:
df.head()

                                            CONTEUDO
0  ATENCAO NESTA QUARTAFEIRA 0804 ACABA DE SER CO...
1  NO BRASIL JA FORAM REGISTRADOS ALGUNS CASOS DE...
2  BOM DIA SUZANO GRANDE NOVIDADE HOJE DIA 9 DE A...
3  APENAS DURANTE O MES DE JANEIRO DE 2020 O GENE...
4  GENTE NOSSAS EQUIPES QUE ESTAO ATUANDO NAS BAR...

In [82]:
df.to_csv(path + 'text_cl_sa.csv', index=None)

In [ ]:
lines1[20].split(',')[0].replace("(u'","").replace("'","").strip()