In [1]:
import pandas as pd

In [2]:
import string

In [8]:
#Loading the csv to a pandas DataFrame
path         = '../data/'
data         = 'dfcompras.csv'

In [9]:
path + data

'../data/dfcompras.csv'

In [10]:
df           = pd.read_csv(path + data, encoding="utf-8", dtype=str)
df.head()

,compra,processo,data_publicacao,href_itens,valor_estimado
0,15304507000012019,23067.066479/201,2019-02-04T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,150000.0
1,15304506000032019,44103/2018-40,2019-02-07T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,7839110.0
2,15304506000072019,048813/2018-49,2019-02-22T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,756804.0
3,15304506000082019,23167/2017-26,2019-02-25T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,384000.0
4,15304506000102019,69400/2018-06,2019-03-06T00:00:00,/compraSemLicitacao/id/item_slicitacao/1530450...,576000.0

In [11]:
df.columns

Index(['compra', 'processo', 'data_publicacao', 'href_itens',
       'valor_estimado'],
      dtype='object')

In [13]:
import sqlite3

In [19]:
sql = "insert into posts_compra (codigo, compra, processo , data_publicacao, valor_estimado, "
sql = sql + " valor_min, valor_medio, valor_max)"
sql = sql + " values "
cod = 1

In [22]:
for index, row in df.head(1).iterrows():
    con = sqlite3.connect('../db.sqlite3')
    cur = con.cursor()
    l = "(" + (str(cod) + ", '" + row['compra']) + "','" + (row['processo']) + "', '" 
    l = l + (row['data_publicacao']) + "', " + (row['valor_estimado']) + ");"
    print(sql + l)
    cur.execute(sql + l);
    con.commit()
    print("Records inserted successfully")
    cod = cod + 1   
    con.close

insert into posts_compra (codigo, compra, processo , data_publicacao, valor_estimado,  valor_min, valor_medio, valor_max) values (1, '15304507000012019',' 23067.066479/201', '2019-02-04T00:00:00', 150000.0);

OperationalError: 5 values for 8 columns

In [ ]:
import pandas as pd

In [ ]:
#Loading the csv to a pandas DataFrame
data = '../data/base.csv'
df   = pd.read_csv(data, encoding="utf-8", sep=",")
df.head()

In [ ]:
df.tail()

In [ ]:
df['LIDERANÇA'] = df['LIDERANÇA'].str.strip()
df['CEL'] = df['CEL'].str.strip()
df['ENDERECO'] = df['ENDERECO'].str.strip()

In [ ]:
len(df)

In [ ]:
df.drop_duplicates(subset ="NOME", 
                     keep = False, inplace = True)

In [ ]:
#Loading the csv to a pandas DataFrame
data = '../data/baselite.csv'
df   = pd.read_csv(data, encoding="utf-8", sep=",")
df.head()

In [ ]:
df['NOME'] = df['NOME'].str.strip()

In [ ]:
df.head()

In [ ]:
df = df.sort_values(by=['NOME'])

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.to_csv('../data/base.csv', index=None)